In [1]:
from pyspark.sql import SparkSession, functions as fs


session = SparkSession.builder.appName("UkMakerSpaces").master("local[*]").getOrCreate()

makerSpace = session.read.option("header", "true") \
    .csv("../input_data/uk-makerspaces-identifiable-data.csv")

postCode = session.read.option("header", "true").csv("../input_data/uk-postcode.csv") \
    .withColumn("PostCode", fs.concat_ws("", fs.col("PostCode"), fs.lit(" ")))

print("=== Print 20 records of makerspace table ===")
makerSpace.select("Name of makerspace", "Postcode").show()

=== Print 20 records of makerspace table ===
+--------------------+--------+
|  Name of makerspace|Postcode|
+--------------------+--------+
|        Hub Workshop|SE15 3SN|
|Nottingham Hacksp...| NG3 1JH|
|         Farset Labs|BT12 5GH|
|       Medway Makers| ME4 3JE|
|             fizzPop|  B5 5SR|
|South London Make...|SE24 9AA|
|Create Space London | HA9 6DE|
|          FounderHub|CF10 1DY|
|  LuneLab Makerspace| LA2 6ND|
|            The Shed| CT2 7NF|
|      Build Brighton| BN2 4AB|
|           Makespace| CB2 1RX|
|   Swansea Hackspace| SA1 1DP|
|57North (previous...|AB11 5BN|
|        BEC Fab Lab |CA13 0HT|
|   Dundee MakerSpace| DD1 4QB|
|                EPIK| CT3 4GP|
|Fab Lab Nerve Centre|BT48 6HJ|
|  fablab@strathclyde|  G1 1XJ|
|MakerspaceFY1 (Bl...| FY1 4DY|
+--------------------+--------+
only showing top 20 rows

In [2]:
print("=== Print 20 records of postcode table ===")
postCode.select("PostCode", "Region").show()

=== Print 20 records of postcode table ===
+--------+-------------+
|PostCode|       Region|
+--------+-------------+
|    AB1 |     Aberdeen|
|    AB2 |     Aberdeen|
|    AB3 |     Aberdeen|
|    AB4 |     Aberdeen|
|    AB5 |     Aberdeen|
|    AB9 |     Aberdeen|
|   AB10 |     Aberdeen|
|   AB11 |     Aberdeen|
|   AB12 |     Aberdeen|
|   AB13 |     Aberdeen|
|   AB14 |     Aberdeen|
|   AB15 |     Aberdeen|
|   AB16 |     Aberdeen|
|   AB21 |     Aberdeen|
|   AB22 |     Aberdeen|
|   AB23 |     Aberdeen|
|   AB24 |     Aberdeen|
|   AB25 |     Aberdeen|
|   AB30 |Aberdeenshire|
|   AB31 |Aberdeenshire|
+--------+-------------+
only showing top 20 rows

In [5]:
joined = makerSpace \
    .join(postCode, makerSpace["Postcode"].startswith(postCode["Postcode"]), "left_outer")

print("=== Group by Region ===")
joined.groupBy("Region").count().orderBy("count", ascending = False).show(200)

=== Group by Region ===
+--------------------+-----+
|              Region|count|
+--------------------+-----+
|             Cardiff|    3|
|       Tower Hamlets|    3|
|          Manchester|    3|
|             Glasgow|    3|
|             Lambeth|    2|
|              Oxford|    2|
|           Southwark|    2|
|            Aberdeen|    2|
|             Bristol|    2|
|           Liverpool|    2|
|           Sheffield|    2|
|   Brighton and Hove|    2|
|              Camden|    2|
|             Belfast|    2|
|               Leeds|    2|
|                null|    2|
|          Sunderland|    1|
|       Staffordshire|    1|
|    Scottish Borders|    1|
|            Coventry|    1|
|            Bradford|    1|
|             Swindon|    1|
|          Wandsworth|    1|
|          Eastbourne|    1|
|              Dudley|    1|
|          Birmingham|    1|
|Cheshire West and...|    1|
|              Exeter|    1|
|   Barrow-in-Furness|    1|
|           Cambridge|    1|
|              Dundee|    1|
|         Argyllshire|    1|
|              Medway|    1|
|          Tewkesbury|    1|
|            Plymouth|    1|
|             Lincoln|    1|
|          Canterbury|    1|
|               Moray|    1|
|                Kent|    1|
|Kensington and Ch...|    1|
|         Southampton|    1|
|             Enfield|    1|
|           Leicester|    1|
|               Derby|    1|
|               Brent|    1|
| North Hertfordshire|    1|
|             Wealden|    1|
|             Newport|    1|
|      City of London|    1|
|           Lancaster|    1|
|               Wigan|    1|
|         Westminster|    1|
|             Falkirk|    1|
|             Hackney|    1|
|          Colchester|    1|
|           Allerdale|    1|
|             Swansea|    1|
|            Hereford|    1|
|       Milton Keynes|    1|
|             Fenland|    1|
|              Ealing|    1|
|            Rushmoor|    1|
|             Gwynedd|    1|
|            Cornwall|    1|
|             Gedling|    1|
|   Rhondda Cynon Taf|    1|
|           Newcastle|    1|
|           Blackpool|    1|
|Richmond upon Thames|    1|
|      Waltham Forest|    1|
|            Lewisham|    1|
|               Derry|    1|
|           Berkshire|    1|
|                York|    1|
+--------------------+-----+

In [7]:
session.stop()